@font-face{font-family:'Shippori Mincho';font-style:normal;font-weight:700;font-display:block;src:url(./sub-shippori-700.woff2) format('woff2')}
@font-face{font-family:'Noto Sans JP';font-style:normal;font-weight:500;font-display:block;src:url(./sub-noto-500.woff2) format('woff2')}
@font-face{font-family:'Noto Sans JP';font-style:normal;font-weight:700;font-display:block;src:url(./sub-noto-700.woff2) format('woff2')}
